/* création de l' animation */

.sprite {
    width: 245px;
    height: 400px;
    display: block;
    background: transparent url(https://s.cdpn.io/13034/walker.png) 0 0  no-repeat;
    margin: 3em auto;
    animation: walker 1s steps(5) infinite;

}

@keyframes walker {
    from {background-position: 0 0;}
    to {background-position: 0 -4000px;}
}

